/* TEXT/FONT/COPY Styles */
h1 {
    color: #333B7E;
    font-family: 'Oswald', sans-serif;
    font-size: 76px;
    font-weight: bold;
    line-height: 84px;
    text-transform: uppercase;
    text-align: center; 
}

h2 {
    color: #4C5064;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 68px;
}

h3 {
    color: #4C5064;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -4%;
    margin-block-start: 0;
    margin-block-end: 0;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -2%;
    margin-block-start: 0;
    margin-block-end: 0;
}

h6 {
    color: #6667AB;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

.h3r {
   text-align: center;
}

.header3 {
    color: #4C5064;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

.header4 {
    color: #6667AB;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -4%;
}

strong {
    color: #6667AB;
}

.listText {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

/* How do I change the form text/font style for the Yes/No responses? */
.formText {
    color: #4C5064;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.footerh1 {
    color: #F1F0F4;
    text-align: left;
    line-height: 16px;
    padding-left: 3rem;
}

.footerh6 {
    color: #F1F0F4;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
}

#footerText {
    color: #F1F0F4;
    font-family: 'Inter'; sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-left: 3rem;
    /* why is the copyright footer text not centered? */
    justify-content: center;
}

#h2.h2rightAlign {
    text-align: right;
}



/* BUTTON/ASSETS STYLES */
button {
    border: 3px solid #6667AB;
    border-radius: 4px;
    color: #6667AB;
    box-sizing: border-box;
    background-color: transparent;
    font-style: 'Inter'; sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    /* Use these properties below??? */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #6667AB;
    color: #F1F0F4;
    border: 3px solid #6667AB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-style: 'Inter'; sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    margin-right: 1rem;
    /* transition: background-color 0.5s ease-in; */
    /* Use these properties below??? */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* NAV STYLES */
.logo {
    margin-left: 2rem;
}

li {
    display: inline;
    padding: 1rem;
}

.navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inline {
    text-align: right;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.navLinks {
    color: #333B7E;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    vertical-align: middle; 
    text-decoration-style:none;
    margin-top: 0.5rem;
}



/* PROJECT OVERVIEW section */
/* Project Intro and About Educate Ya */
.caseStudyIntro {
    display: flex;
    flex-direction: column;
}

.EducateYaAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
}

.educateYaPrototype {
    align-items: center;
    margin-left: 3rem;
}

.educateYaSummary {
    width: 50%;
    flex-grow: 1;
    margin-left: 2rem;
    margin-right: 3rem;
}
/* Project Overview */
.projectOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 3rem;
}

.projectSummary {
    width: 50%;
    flex-grow: 1;
    margin-left: 3rem;
    margin-right: 2rem;
}

.beforeRedesign {
    align-items: center;
    margin-left: 3rem;
}


/* OUR TEAM section */
.ourTeam {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
}

.teamCopy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
}

.listTest {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

.copy {
    width: 50%;
    margin-right: 2rem;
}


/* DESIGN TOOLS and PHASES section */
.designToolsIcons {
    text-align: center;
    margin-right: 2rem;
}

.h1DesignPhases {
    margin-block-start: 0;
    margin-block-end: 0;

}

.designPhasesIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(1.25);
    /* transition: all 0.3s  ease-in-out; */
}
/* .phaseIcon01 {
    transform: scale(1.25);
} */

.phaseIcon01:hover {
    animation: spin 0.7s 1;
}

.phaseIcon02:hover {
    animation: spin 0.7s 1;
}

.phaseIcon03:hover {
    animation: spin 0.7s 1;
}

.phaseIcon04:hover {
    animation: spin 0.7s 1;
}

.phaseIcon05:hover {
    animation: spin 0.7s 1;
}

.phaseIcon06:hover {
    animation: spin 0.7s 1;
}



@keyframes spin {
    from {
    transform: rotate(0deg) scale(1.25);
    /* transform: scale(1.25); */
    }
    50% {
    transform: rotate(10deg) scale(1.3);
    /* transform: scale(1.25); */
    }
    75% {
    transform: rotate(-5deg) scale(1.3);
    }
    to {
    transform: rotate(0deg) scale(1.25);
    /* transform: scale(1.25); */
    }
  }


/* 
  @keyframes bounceArrow {
    from {
      margin-top: 0px;
    }
    50% {
      margin-top: 7px;
    }
    to {
      margin-top: 0px;
    }
  }  */


/* UX RESEARCH section */
.h1UXresearch {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.UXresearchGrid {
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "researchImg1 researchCopy1"
    "researchImg2 researchCopy2"
    "researchImg3 researchCopy2"
}

.researchImg1 {
    grid-area: researchImg1;
}

.researchImg2 {
    grid-area: researchImg2;
}

.researchImg3 {
    grid-area: researchImg3;
}

.researchCopy1 {
    grid-area: researchCopy1;
    padding-left: 2rem;
}

.researchCopy2 {
    grid-area: researchCopy2;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.redlineNumbers {
    color: #EE0303;
}
.nextWe {
    display: flex;
    flex-direction: row;
    width: 50% 50%;
}


/* DEFINITION section */
.h1Definition {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.definitionRow {
    display: flex;
    flex-direction: row;
}

.definitionCopy {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.h5Definition {
    text-align: right;
}

.lightbulbImg {
    width: 40%;
    margin-left: 3rem;
}



/* IDEATION section */
.h1Ideation {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ideationGrid {
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "EYstoryboard1 ideationCopy1"
    "EYstoryboard2 ideationCopy2"
    "EYstoryboard3 EYstoryboard4"
    ;
}

.EYstoryboard1 {
    grid-area: EYstoryboard1;
}

.EYstoryboard2 {
    grid-area: EYstoryboard2;
}

.EYstoryboard3 {
    grid-area: EYstoryboard3;
}

.EYstoryboard4 {
    grid-area: EYstoryboard4;
}

.ideationCopy1 {
    grid-area: ideationCopy1;
    padding-left: 2rem;
}

.ideationCopy2 {
    grid-area: ideationCopy2;
    padding-left: 2rem;
}

.ideationList {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.EYstoryboard5 {
    margin-left: 2rem;
}




/* PROTOTYPING section */
.h1Prototyping {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.prototyping {
    display: flex;
    flex-direction: column;
}

.IACopy {
    width: 80%;
}

.sketchesCopy {
    width: 80%;
}

.earlyPrototyping {
    display: flex;
    flex-direction: row;
}




/* USABILITY TESTING section */
.h1UsabilityTesting {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}



/* FINAL PROTOTYPE section */
.h1FinalPrototype {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}



/* CONCLUSION section */
.h1Conclusion {
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

.h1ThankYou {
    text-align: right;
    margin-right: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.h4ThankYou {
    text-align: right;
    margin-right: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

.listText {

}




/* FLEXBOX Styles */








/* FOOTER Styles */
.footer {
    background-color: #6667AB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.connectIcons {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.emailWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emailText {
    color: #F1F0F4;
    padding-left: 2rem;
}

.LinkedInWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
}

.LinkedInText {
    color: #F1F0F4;
    padding-left: 2rem;
}

.footer button {
/* I want to center this in the div */
    border: 3px solid #ECE5BA;
    border-radius: 4px;
    color: #ECE5BA;
    box-sizing: border-box;
    background-color: #6667AB;
    margin-top: 1rem;
}

.footer button:hover {
    background: #F1F0F4;
    color: #6667AB;
    border-color: #F1F0F4;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
}
