/* TEXT/FONT/COPY Styles */
h1 {
    color: #333B7E;
    font-family: 'Oswald', sans-serif;
    font-size: 76px;
    font-weight: bold;
    line-height: 84px;
    text-transform: uppercase;
    text-align: center; 
}

h2 {
    color: #4C5064;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 800;
    line-height: 68px;
}

h3 {
    color: #4C5064;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 600;
    margin-block-end: 0;
    margin-block-start: 0;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -4%;
    margin-block-end: 0;
    margin-block-start: 0;
}

h6 {
    color: #6667AB;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
    margin-block-end: 0;
    margin-block-start: 0;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

.h2r {
   text-align: right;
}

.header3 {
    color: #4C5064;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

.header4 {
    color: #6667AB;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -4%;
}

strong {
    color: #6667AB;
}

/* How do I change the form text/font style for the Yes/No responses? */
.formText {
    color: #4C5064;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.footerh1 {
    color: #F1F0F4;
    text-align: left;
    line-height: 16px;
    padding-left: 3rem;
}

.footerh6 {
    color: #F1F0F4;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
}

#footerText {
    color: #F1F0F4;
    font-family: 'Inter'; sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-left: 3rem;
    /* why is the copyright footer text not centered? */
    justify-content: center;
}

#h2.h2rightAlign {
    text-align: right;
}



/* BUTTON/ASSETS STYLES */
button {
    border: 3px solid #6667AB;
    border-radius: 4px;
    color: #6667AB;
    box-sizing: border-box;
    background-color: transparent;
    font-style: 'Inter'; sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    /* Use these properties below??? */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
}

button:hover {
    background-color: #6667AB;
    color: #F1F0F4;
    border: 3px solid #6667AB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-style: 'Inter'; sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    /* Use these properties below??? */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
}



/* NAV STYLES */
.logo {
    margin-left: 2rem;
}

li {
    display: inline;
    padding: 1rem;
}

.navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inline {
    text-align: right;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 1.5rem;
}

.navLinks {
    color: #333B7E;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    vertical-align: middle; 
    text-decoration-style:none;
    margin-top: 0.5rem;
}



/* PROJECT OVERVIEW section */
/* Project Intro and About Educate Ya */
.caseStudyIntro {
    display: flex;
    flex-direction: column;
}

.EducateYaAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3rem;
}

.educateYaPrototype {
    align-items: center;
    margin-left: 3rem;
}

.educateYaSummary {
    width: 50%;
    flex-grow: 1;
    margin-left: 2rem;
    margin-right: 3rem;
}
/* Project Overview */
.projectOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 3rem;
}

.projectSummary {
    width: 50%;
    flex-grow: 1;
    margin-left: 3rem;
    margin-right: 2rem;
}

.beforeRedesign {
    align-items: center;
    margin-left: 3rem;
}


/* OUR TEAM section */




/* DESIGN TOOLS and PHASES section */
.designToolsIcons {
    text-align: right;
    margin-right: 2rem;
}




/* FLEXBOX Styles */








/* FOOTER Styles */
.footer {
    background-color: #6667AB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.connectIcons {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.emailWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emailText {
    color: #F1F0F4;
    padding-left: 2rem;
}

.LinkedInWithIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
}

.LinkedInText {
    color: #F1F0F4;
    padding-left: 2rem;
}

.footer button {
/* I want to center this in the div */
    border: 3px solid #ECE5BA;
    border-radius: 4px;
    color: #ECE5BA;
    box-sizing: border-box;
    background-color: #6667AB;
    margin-top: 1rem;
}

.footer button:hover {
    background: #F1F0F4;
    color: #6667AB;
    border-color: #F1F0F4;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
}
